paper-scaffold[mode=cover]::shadow paper-header-panel::shadow #mainContainer {
  left: 120px;
}
paper-scaffold #headerPanel paper-toolbar {
  background: #af0136;
}
paper-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}
#mainContainer.paper-header-panel {
  overflow: initial;
  overflow-y: scroll;
}

paper-card {
  width: 95%;
  margin-top: 16px;
  margin-bottom: 7px;
  margin-left: 10px;
}
.avatar {
  display: inline-block;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: var(--paper-pink-500);
  color: white;
  line-height: 64px;
  font-size: 30px;
  text-align: center;
}
.fancy .title {
  position: absolute;
  top: 30px;
  left: 100px;
  color: var(--paper-indigo-500);
}
.fancy img {
  width: 100%;
}
.fancy .big {
  font-size: 22px;
  padding: 8px 0 16px;
  color: var(--google-grey-500);
}
.fancy .medium {
  font-size: 16px;
  padding-bottom: 8px;
}