<head>
  <title>ultro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="bower_components/paper-scaffold/paper-scaffold.html">
  <link rel="import" href="bower_components/paper-menu/paper-menu.html">
  <link rel="import" href="bower_components/paper-item/paper-item.html">
  <link rel="stylesheet" href="bower_components/paper-styles/demo.css"> 
  <link rel="import" href="bower_components/paper-styles/demo-pages.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="bower_components/paper-card/paper-card.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
  <link rel="import" href="bower_components/paper-styles/color.html">
  <link rel="import" href="bower_components/paper-toggle-button/paper-toggle-button.html">
  <link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="bower_components/paper-fab/paper-fab.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-input/paper-textarea.html">
  <link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">

  <style is="custom-style">
    #cards {
      @apply(--layout-vertical);
      @apply(--center-justified);
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .pink {
      --paper-card-header-color: var(--paper-pink-500);
    }
    h1, h2, h3, h4 {

    margin:0;
    margin-left: 20px;
    margin-top: 16px;
    padding:0;

    }

    paper-fab {
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
      margin-bottom: 24px;
      margin-right: 24px;
      --paper-fab-background: var(--paper-red-500);
      --paper-fab-keyboard-focus-background: var(--paper-red-900);
    }

    paper-fab.red {
      --paper-fab-background: var(--paper-red-500);
      --paper-fab-keyboard-focus-background: var(--paper-red-900);
    }

    paper-button.colorful {
      background: #4285f4;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    paper-button.update {
      background: #4285f4;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  </style>
</head>

<body>
  <paper-scaffold>

    <paper-header-panel navigation flex mode="seamed" style="background: rgb(231, 214, 219); color: #000;">
      <paper-toolbar style="background-color: #af0136; color: #000;"> 
        <img src="images/Categories.png" alt="ultro icon">
      </paper-toolbar>
      <paper-menu style="background: rgb(231, 214, 219); color: #000;">
        <paper-item id="bookmarks">Bookmarks</paper-item>
        <paper-item id="all">All Jobs</paper-item>
        <paper-item id="it">Computer science / IT</paper-item>
        <paper-item id="business">Business administration / Management</paper-item>
      </paper-menu>
    </paper-header-panel>

    <div tool>
      <img src="images/logo-mobile.png" alt="ultro icon">
      <img src="images/ultro.png" alt="ultro">
    </div>

    <div class="content">
      
        {{> yield}}
      
    </div>

  </paper-scaffold>
</body>

<template name="job"> 
  <h2>{{noOfJobs}} job(s) available</h2>
  {{#each jobs}} 
  <paper-card id="shadow_demo" heading={{title}} contents={{content}} class="pink" animated-shadow>
    <div class="card-content">
    {{content}}
    </div>
    <div class="card-actions">
      <paper-button onclick="parent.location='mailto:jobs@ultro.ph'">Apply</paper-button>
      <paper-button id="addBook">Bookmark</paper-button>
      <paper-button id="edit">Edit</paper-button>
      <paper-button id="remove">Remove</paper-button>
    </div>
  </paper-card>
  {{/each}}
  <paper-fab icon="add" class="red"></paper-fab>
   <paper-dialog id="dialog">
      <h2>Add Job</h2>
      <paper-input id="jlabel" required label="Job Title"></paper-input>
      <paper-textarea id="dlabel" required label="Description"></paper-textarea>
      <paper-checkbox id="ccheck">Computer science / IT</paper-checkbox>
      <paper-checkbox id="bcheck">Business administration / Management</paper-checkbox>
      <paper-button tabindex="0" type="submit" class="colorful">Add</paper-button>
    </paper-dialog>
    <paper-dialog id="dialog1">
      <h2>Edit Job</h2>
      <paper-input id="jolabel" required label="Job Title"></paper-input>
      <paper-textarea id="delabel" required label="Description"></paper-textarea>
      <paper-button tabindex="0" type="submit" class="update">Update</paper-button>
    </paper-dialog>
</template>

<template name="bookmark"> 
  <h2>{{noOfJobs}} Bookmark(s)</h2>
  {{#each bookmarks}} 
  <paper-card id="shadow_demo" heading={{title}} contents={{content}} class="pink" animated-shadow>
    <div class="card-content">
      {{content}}
    </div>
    <div class="card-actions">
      <paper-button onclick="parent.location='mailto:jobs@ultro.ph'">Apply</paper-button>
      <paper-button id="remBook">Remove</paper-button>     
    </div>
  </paper-card>
  {{/each}}
</template>

<template name="itJob"> 
  <h2>{{noOfJobs}} job(s) available</h2>
  {{#each itJobs}} 
  <paper-card id="shadow_demo" heading={{title}} contents={{content}} class="pink" animated-shadow>
    <div class="card-content">
    {{content}}
    </div>
    <div class="card-actions">
      <paper-button onclick="parent.location='mailto:jobs@ultro.ph'">Apply</paper-button>
      <paper-button id="addBook">Bookmark</paper-button>    
      <paper-button id="edit">Edit</paper-button>
      <paper-button id="remove">Remove</paper-button> 
    </div>
  </paper-card>
  {{/each}}
  <paper-dialog id="dialog1">
    <h2>Edit Job</h2>
    <paper-input id="jolabel" required label="Job Title"></paper-input>
    <paper-textarea id="delabel" required label="Description"></paper-textarea>
    <paper-button tabindex="0" type="submit" class="update">Update</paper-button>
  </paper-dialog>
</template>

<template name="businessJob"> 
  <h2>{{noOfJobs}} job(s) available</h2>
  {{#each businessJobs}} 
  <paper-card id="shadow_demo" heading={{title}} contents={{content}} class="pink" animated-shadow>
    <div class="card-content">
    {{content}}
    </div>
    <div class="card-actions">
      <paper-button onclick="parent.location='mailto:jobs@ultro.ph'">Apply</paper-button>
      <paper-button id="addBook">Bookmark</paper-button>  
      <paper-button id="edit">Edit</paper-button>
      <paper-button id="remove">Remove</paper-button>   
    </div>
  </paper-card>
  {{/each}}
  <paper-dialog id="dialog1">
    <h2>Edit Job</h2>
    <paper-input id="jolabel" required label="Job Title"></paper-input>
    <paper-textarea id="delabel" required label="Description"></paper-textarea>
    <paper-button tabindex="0" type="submit" class="update">Update</paper-button>
  </paper-dialog>
</template>